@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

:root{
  --playfair: 'Playfair Display', serif;
  --quicsand: 'Quicksand', sans-serif;
  --roboto:  'Roboto', sans-serif;
  --dark: #3c393d;
  --exDark: #2b2b2b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--quicsand);
}

body {
  line-height: 1.4;
  color: var(--dark);
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1320;
  margin: 0;
  padding: 0 1.2rem;
}


/* Header styling start */
header{
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/banner-bg.jpg), center/cover no-repeat fixed;
}

.navbar{
  background: rgb(0, 0, 0, 0.3);
  padding: 1.2rem;
}

.navigation{
  display: flex;
  justify-content: space-between;
}

.my-logo {
  display: flex;
}

.logo-img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  border-radius: 50%  50%  50% ;
}

.navigation .logo a{
  color: #fff;
  font-size: 2rem;
  display: block;
  text-decoration: none;
  font-family: var(--Playfair);
  letter-spacing: 1px;
 
}

.navbar-nav{
  padding: 0.8rem 0 0.2rem 0;
}
.navbar-nav a{
  text-transform: uppercase;
  font-family: var(--Roboto);
  letter-spacing: 3px;
  font-weight: 500;
  color: #ffff;
  text-decoration: none;
  display: inline-block;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
  opacity: 0.7;
}

.banner{
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffff;
  margin-top: 9%;
}
.banner-title{
  font-size: 5rem;
  font-family: var(--Playfair);
  line-height: 1.2;
}
.banner-title span{
  font-family: var(--Playfair);
  color: var(--exDark);
}
.banner p{
  padding-left: 1rem 0 2rem 0;
  font-size: 1.2rem;
  text-transform: lovercase;
  font-family: var(--Roboto);
  font-weight: 300;
  word-spacing: 2px;
}
.banner form{
  background: #fff;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.4rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.search-input{
  font-family: var(--Roboto);
  font-size: 1.2rem;
  outline: none;
  padding: 0.6rem 0;
  border: none;
}
.search-input::placeholder{
  text-transform: capitalize;
}
.search-btn{
  width: 40px;
  font-size: 1.2rem;
  color: var(--dark);
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
/* end of header styling */

/* start design styling */
.design  {
  padding: 4.5rem 0;
}   

.title{
  text-align: center;
  padding: 1rem 0;
}
.title h2{
  font-family: var(--Playfair);
  font-size: 2.4rem;
}
.title p{
  text-transform: uppercase;
  padding: 0.6rem 0;
}


.design-content {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 2rem; */
}

.design-item {
  margin-right: 30px;
}

.design-img{
  margin-right: 0;
  position: relative;
  overflow: hidden;
}
.design-img::after{ 
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.design-img img{
  /* width: 29.25rem; */
  height: 28.25rem;
  transition:all 3s ease;
}

.design-item:hover img{
  transform: scale(1.2);  /* bu stil rasm hover bugan paytda rasm kattalashadi */
}

.design-img span:first-of-type{
  position: absolute;
  z-index: 1;
  content:"";
  top: 10px;
  left: 10px;
  background: var(--dark);
  padding: 0.25rem;
  color:#fff;
}

.design-img span:last-of-type{
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}

.design-title{
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.design-title a{
  color: var(--dark);
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--Playfair);
} 
/* End of design styling */

/* Start of blog styling */
.blog {
  background: #f9f9f9;
  padding: 4.5rem 0;
}

.blog-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}

.blog-img {
  position: relative;
}

.blog-img img {
  /* width: 24.25rem; */
  height: 28.25rem;
  border-radius:50%;
}

/* .blog-img::after{ 
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
} */

.blog-img span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: var(--dark);
  color: #fff;
  font-size: 1.4rem;
  padding: 0.3rem 0,6rem;
}

.blog text {
  margin: 2.2rem 0;
  padding: 0 1rem;
}

.blog-text span {
  font-weight: 300;
  display: block;
  padding-bottom: .5rem;
}

.blog-text h2 {
  font-family: var(--Playfair);
  padding: 1rem 0;
  font-size: 1.65rem;
  font-weight: 500;
}

.blog-text p {
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.8;
  padding-bottom: 1.2rem;
}

.blog-text a {
  font-family: var(--roboto);
  font-size: 1.1rem;
  text-decoration: none;
  /* color: var(--dark); */
  color: #fff;
  padding: .55rem 1.2rem;
  background: var(--dark);
  transition: all .5s ease;
}

.blog-text a:hover {
  background: var(--exDark);
}
/* End of blog styling */


/* Start of about styling */
.about {
  padding: 0 0 4.5rem 0;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  align-items: center;
  background:rgba(0, 0, 85, 0.1);
}

.about-content img {
  border: 5px solid #c2c2c2;
  border-radius:50%;
  height: 40.25rem;
}

.about-text{
  margin: 2rem 0rem;
}

.about-text p {
  font-size: 1.1rem;
  padding: 0.6rem 0;
  opacity: 0.8;
}
/* End of about styling */




/* Start of footer styling */
footer {
  background: var(--dark);
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 .3rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  transition: all 1s ease;
  cursor: pointer;
}

.social-links a:hover {
  background: #fffffff2;
  color: var(--dark)
}

footer span {
  margin-top: 1rem;
  display: block;
  font-family:  var(--Playfair);
  letter-spacing: 2px;
}
  /* End of footer styling */



.navbar-nav i{
  display: none;
}  
         /* RESPONSIV - EKRANGA MOSLASH */
@media only screen and (max-width: 800px) {
  .navbar-nav a {
    display: none;
  }
  
  .navbar-nav i{
    display: block;
    font-size: 1.3rem;
    color:#fff;
    cursor: pointer;
    transition: opasity .5s ease;
  }
  .navbar-nav i:hover{
    opacity: 0.7;
  }
  
  .banner-title{
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
  }

  .design-content {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  
  .blog-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin: 2rem 0;
  }
  .blog-img img {
    height: 20.25rem;
    border-radius:50%;
  }

  .about-content {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 3rem;
    align-items: center;
    background:rgba(0, 0, 85, 0.1);
  }
  .about-content img {
    border: 5px solid #c2c2c2;
    border-radius:50%;
    height: 20rem;
  }
}